<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>ToDo Monster</h1>
    <div class="wrap-input">
      <input
        type="text"
        class="input-text"
        placeholder="Моя новая задача"
        formControlName="newTask"
        #inputNewTask
      >

      <button
        *ngIf="inputNewTask.value.length || isEditMode"
        type="reset"
        class="btn-reset"
        title="Отмена"
        (click)="
          isEditMode=false;
          form.reset()
        "
      >x
      </button>
    </div>
    <button
      type="submit"
      [class.btn--disabled]="!inputNewTask.value.length || form.invalid"
      [class.btn--active]="inputNewTask.value.length && form.valid"
      *ngIf="!isEditMode"
      class="btn"
    >
      Добавить
    </button>

    <button
      type="submit"
      *ngIf="isEditMode"
      (click)="
        updateTask(form.get('newTask').value, form.get('taskID').value);
        isEditMode=false;
      "
      class="btn"
      [class.btn--disabled]="!inputNewTask.value.length || form.invalid"
      [class.btn--active]="inputNewTask.value.length && form.valid"
    >
      Обновить
    </button>

    <div class="validation">
      <small
        *ngIf="form.get('newTask').hasError('spaceOnly') && (form.get('newTask').value.length > 0)"
      >
        Одних пробелов недостаточно
      </small>
    </div>

    <div class="list-box">
      <ul class="list-box__items" [class.js-list--empty]="!localStorageService.hasTaskData">
        <li
          appStyle
          [dStyles]="{background: '#f8f8f8', borderRadius: '4px'}"
          *ngFor="let task of localStorageService.taskData"
          class="js-list__item"
          [class.task--active]="task.id===form.get('taskID').value"
          id="{{task.id}}"
          #myInput
        >
          <input
            type="checkbox"
            class="checkbox"
            (click)="localStorageService.taskCompleted(keyLS, myInput.id)"
            [checked]="!task.status"
          >
          <label
            class="js-item__label"
            [class.js-cb--checked]="!task.status"
            (click)="
              inputNewTask.value=task.text;
              inputNewTask.select();
              form.get('newTask').setValue(task.text);
              form.get('taskID').setValue(task.id);
              isEditMode = true;
              myInput.classList.add('task--active');
            "
          >
            {{ task.text }}
          </label>
          <button
            type="button"
            class="remove-btn"
            (click)="localStorageService.removeTask(keyLS, myInput.id)"
          >
            x
          </button>
        </li>
      </ul>
    </div>
  </form>
</div>
