*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  min-height: 100vh;
  overflow: hidden;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

input, button {
  outline: none;
  font-size: 16px;
  padding: 5px;
}

h1 {
  margin: 30px 0 40px;
  text-align: center;
}

.wrap-input {
  display: inline;
  position: relative;
}
.btn-reset {
  position: absolute;
  top: -6px;
  right: 6px;
  color: #666;
  border: 0;
  display: block;
  padding: 5px;
  background-color: #fff;
  font-size: 16px;
}

.btn-reset:hover {
  color: #000;
}

.btn {
  color: #fff;
  width: 100px;
  height: inherit;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn--active {
  color: #fff;
  width: 100px;
  background: #2063fd;
  border: #2063fd solid 2px;
  transition: all 500ms ease;
}

.btn--active:hover {
  background: #306eff;
  border: #306eff solid 2px;
  transition: all 500ms ease;
  cursor: pointer;
}
.btn--disabled {
  background: #585858;
  border: #585858 solid 2px;
  cursor: not-allowed;
}

.input-text {
  width: 300px;
}

.list-box {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.list-box__items {
  width: 400px;
  border: solid 1px #9e9e9e;
  border-radius: 5px;
}

.js-list--empty {
  visibility: hidden;
}

.js-list__item {
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
}

.js-list__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 400px;
  height: 1px;
  background-color: #9e9e9e;
}

.checkbox {
  margin: 0 7px 0 15px;
}

.checkbox:hover {
  cursor: pointer;
}

.js-item__label {
  width: 100%;
}

.js-item__label:hover {
  cursor: text;
}

.js-cb--checked {
  text-decoration: line-through;
  color: #767676;
}

.task--active {
  border: #2063fd solid 1px;
}

.remove-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: #fff solid 1px;
  border-radius: 7px;
}

.remove-btn:hover {
  cursor: pointer;
  border: #9e9e9e solid 1px;
  background-color: #ff4848;
}

.validation {
  color: red;
  position: absolute;
}
